.imgBotao {
        background-image: url("/images/edit.png") !important;
}


.ico_cad_exc{
	border:0px;
}


.login{
	width: 400px;
	height: 300px;
	vertical-align: middle;
	position: absolute;
	left: 470px;
	top: 205px;
	
	
	
}

.classMessages{
	font:bold;
	font-family:arial;
	color:rgb(255,6,6);
}	
	
	
	
.nameUser{
	vertical-align: text-top;
	position: absolute;
	right: 20px;
	top:97px;
	color: rgb(33,137,163);
}	
.footer{
	bottom: 800px;
	top: 800px;
	
}

